.collapseContainer {
  padding: 15px;
}

.collapseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapseContent {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapseContentShow {
  height: auto;
  max-height: 100vh;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
