.collapseContainer {
  padding: 15px;
  background-color: #aacfff;
  border-radius: 5px;
}

.collapseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapseContent {
  max-height: 0;
  overflow: hidden;
}

.collapseContentShow {
  height: auto;
  max-height: 100vh;
}
